@tailwind base;
@tailwind components;
@tailwind utilities;

.titlebar {
  user-select: none;
  -webkit-app-region: drag;
}

body {
  overscroll-behavior: none;
  touch-action: none;
  background-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f9fafb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e9e9e9;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b8b8b8;
}